
#header_image {
    height: 200px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: black;
}

div {
    display: inline-block;
}


h1 , h2 , p {
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
    display: block;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 30px;
}

a {
    text-decoration: none;
    color: White;
}


